<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Simple BBS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <a href="/"><h1>Simple BBS</h1></a>

  <!-- ページ操作 -->
  <div class="page">
    <div class="prev">
      <form method="post"action="prev">
        <% if @page == 1 %>
          <input type="submit" value="Prev" disabled>
        <% else %>
          <input type="submit" value="Prev">
        <% end %>

        <input type="hidden" name="page" value="<%= @page %>">
      </form>
    </div>

    <div class="pagenum">
      <%= @page %>/<%= @last_page %>
    </div>

    <div class="next">
      <form method="post" action="next">
        <% if @page == @last_page %>
          <input type="submit" value="Next" disabled>
        <% else %>
          <input type="submit" value="Next">
        <%end%>
        <input type="hidden" name="page" value="<%= @page %>">
      </form>
    </div>
  </div>

  <!-- 投稿一覧 -->
  <div class="post">
    <hr>

    <%# 表示件数を決定 %>
    <% if @posts_len == 0 %>
      <% disp_len = 0 %>
    <% elsif @page == @last_page %>
      <% disp_len = (@posts_len - 1) % @page_max + 1 %>
    <% else %>
      <% disp_len = @page_max %>
    <% end %>

    <%# 投稿を表示 %>
    <% cur_posts = @posts[(@page - 1) * @page_max, disp_len] %>
    <% cur_posts.each do |post| %>
      <div class="sig">
        <table cellspacing="10">
          <tr align="left">
            <td class="id"><%= post.id %></td>
            <td class="name"><%= post.name %></td>
            <td class="time"><%= post.time %></td>

            <form method="post" action="del">
              <td><input type="submit" value="Delete"></td>
              <input type = "hidden" name="id" value="<%= post.id %>">
              <input type = "hidden" name="_method" value="delete">
            </form>
          </tr>
        </table>
      </div>
      <div class="text">
        <%= post.text %>
        <br>
      </div>
      <hr>
    <% end %>
  </div>

  <!-- 入力フォーム -->
  <div class="input">
    <form method="post" action="new">
      <input required type="text" name="name" size="40" maxlength="<%= @name_max %>" \
          placeholder="Name (<%= @name_max %> characters or less)"><br>

      <textarea required name="text" rows="8" cols="40" maxlength="<%= @text_max %>" \
          placeholder="Text (<%= @text_max %> characters or less)"></textarea><br>

      <input type="submit" value="Post">
    </form>
  </div>
</body>
</html>
